@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-inconsolata;
}

@layer utilities {
  .bg-multi-overlay::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    background-image: url("/public/assets/images/pattern-lines.svg"),
      url("/public/assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg"),
      url("/public/assets/images/pattern-squiggly-line-top.svg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top left, bottom left, top 20px right;
    background-size: auto, 200px, 100px;
    opacity: 1;
    pointer-events: none;

  }
  @media screen and (min-width: 768px) {
    .bg-multi-overlay::before {
      background-size: auto, 300px, 250px; 
    }
  }
  @media screen and (min-width: 1040px) {
    .bg-multi-overlay::before {
      background-image: url("/public/assets/images/pattern-lines.svg"),
      url("/public/assets/images/pattern-squiggly-line-bottom-desktop.svg"),
      url("/public/assets/images/pattern-squiggly-line-top.svg");
      background-size: auto, 400px, 300px; 
    }
  }
 

  .input-box {
    @apply bg-neutral-500/20 border text-neutral border-neutral-500 rounded-xl h-12 placeholder-neutral-300 px-2 focus:outline  focus:outline-neutral-500 focus:outline-offset-2 
    hover:cursor-pointer hover:bg-neutral-300/30;
  }

  .error-text{
    @apply text-orange-700 text-xs flex gap-1
  }
}

.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}